#header .header-top span {
    padding: 0 7px;
}
.header-top span i {
    margin-right: 7px;
	font-size: 20px;
}
.header-top hr {
    width: 1px;
    background-color: #fff;
    margin: 0 0 -2px 0;
    display: inline-block;
    height: 12px;
    padding: 0;
}
.nav.navbar-nav.navbar-left {
    padding-top: 5px;
}

.featured-box {margin-bottom: 50px;}
ul.portfolio-list {margin-bottom: 30px;}
section.section {margin-bottom: 0;}
.img-serv{width: 30%;}
.list.list-icons li > .fa:first-child{color:#fff;}

@media (max-width: 768px) {
    header{min-height: 187px !important;}
    .header-logo{width: 230px !important;}
    .header-logo a{display: block !important;}
    .header-logo a img{width: 100% !important; height: inherit !important;}

    #footer .footer-copyright p {color: #a2a2a2;}
    #footer .footer-copyright{margin-top:   0; padding-top: 0; }
    #footer #sub-menu{float: inherit;text-align: center;}
    #footer .footer-copyright p{text-align: center;}
    #footer .footer-copyright nav ul li:first-child {color: #a2a2a2;}    

    .section-default{padding: 10px 0 !important;margin-top: 0 !important;}
    .wr-machine-ini .item-machine-ini {padding-top: 5px;padding-bottom: 5px;}    
    .sticky-header-active #header .header-btn-collapse-nav {margin: 38px 0 8px 15px !important;}
    .sticky-header-active .header-logo a img{top:39px !important; height: inherit !important; margin: 0 !important;}

    .featured-box .box-content { padding: 30px 11px 10px 10px !important;}

    .nav.navbar-nav.navbar-left span{ display: block !important;text-align: center !important;}
    .nav.navbar-nav.navbar-left hr{ display: none !important;}

    .owl-carousel{width: 100% !important;}
}


.colBlack{color: #000 !important;}
.colBlack:hover{ text-decoration: none;}
.sticky-header-active .header-logo a img{ top:25px !important;margin-top: 0 !important;margin-bottom: 0 !important;}
.sticky-header-active .header-body{min-height: 100px !important;}
.header-logo{height: 90px !important;}
